<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big Muddy - {{ subtitle }}</title>
</head>
<body>
<div>
    <div style="float: left; width:50%; ">
        <h1>Big Muddy Railroad Testing</h1>
    </div>
    <div style="float: right; width:50%; ">
        <h2>Navigation</h2>
        <ul>
            <li><a href="http://192.168.0.210:5000/duration">Duration Testing</a></li>
            <li><a href="http://192.168.0.210:5000/burleigh">Burleigh County Console Testing</a></li>
            <li><a href="http://192.168.0.210:5000/morton">Morton County Console Testing</a></li>
            <li><a href="http://192.168.0.210:5000/servoblocktesting">Servo Block Control Testing</a></li>
            <li><a href="http://192.168.0.210:5000/servocycle">Servo Block Cycling</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</div>
</body>
</html>