{% extends "master.html" %}
{% block content %}
<h2>Servo Block Control Testing</h2>
<h2>Status</h2>
<p>{{ tester.status_report}}</p>
<form action="http://192.168.0.210:5000/servoblocktesting" method="POST">
    <table border="2">
        <tr>
            <td><input type="submit" name="action" value="A: Not_shorted"></td>
            <td><input type="submit" name="action" value="B: Not_shorted"></td>
            <td><input type="submit" name="action" value="C: Not_shorted"></td>
            <td><input type="submit" name="action" value="D: Not_shorted"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Shorted"></td>
            <td><input type="submit" name="action" value="B: Shorted"></td>
            <td><input type="submit" name="action" value="C: Shorted"></td>
            <td><input type="submit" name="action" value="D: Shorted"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: XYZ Off"></td>
            <td><input type="submit" name="action" value="B: XYZ Off"></td>
            <td><input type="submit" name="action" value="C: XYZ Off"></td>
            <td><input type="submit" name="action" value="D: XYZ Off"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Flash"></td>
            <td><input type="submit" name="action" value="B: Flash"></td>
            <td><input type="submit" name="action" value="C: Flash"></td>
            <td><input type="submit" name="action" value="D: Flash"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: X_normal"></td>
            <td><input type="submit" name="action" value="B: X_normal"></td>
            <td><input type="submit" name="action" value="C: X_normal"></td>
            <td><input type="submit" name="action" value="D: X_normal"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: X_contrary"></td>
            <td><input type="submit" name="action" value="B: X_contrary"></td>
            <td><input type="submit" name="action" value="C: X_contrary"></td>
            <td><input type="submit" name="action" value="D: X_contrary"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Y_normal"></td>
            <td><input type="submit" name="action" value="B: Y_normal"></td>
            <td><input type="submit" name="action" value="C: Y_normal"></td>
            <td><input type="submit" name="action" value="D: Y_normal"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Y_contrary"></td>
            <td><input type="submit" name="action" value="B: Y_contrary"></td>
            <td><input type="submit" name="action" value="C: Y_contrary"></td>
            <td><input type="submit" name="action" value="D: Y_contrary"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Z_normal"></td>
            <td><input type="submit" name="action" value="B: Z_normal"></td>
            <td><input type="submit" name="action" value="C: Z_normal"></td>
            <td><input type="submit" name="action" value="D: Z_normal"></td>
        </tr>
        <tr>
            <td><input type="submit" name="action" value="A: Z_contrary"></td>
            <td><input type="submit" name="action" value="B: Z_contrary"></td>
            <td><input type="submit" name="action" value="C: Z_contrary"></td>
            <td><input type="submit" name="action" value="D: Z_contrary"></td>
        </tr>
    </table>
</form>
<h3>Assumption: Servo loop has one block servo control under test.</h3>
<h3>Assumption: Console loop has one block servo control harnessed via ribbon cable to test board.</h3>
{% endblock %}
<!doctype html>
